:root {
  --navBarHeight: 8vh;
  --paddingLeft: 10px;
  --yellow: #fbd914;
  --blue: #0058ab;
  --btnHeight: 40px;
  --itemMinWidth: 300px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

#app {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.heading {
  font-size: 8vh;
  padding-left: var(--paddingLeft);
  margin: 0;
}

.pageContent {
  margin-top: var(--navBarHeight);
  padding-left: var(--paddingLeft);
}

.line {
  width: calc(100vw - 2* var(--paddingLeft));
  height: 2px;
  background-color: gray;
  margin: 20px 0 20px 0;
}

.shortLine {
  width: calc(50vw - 2* var(--paddingLeft));
  height: 2px;
  background-color: gray;
  margin: 20px 0 20px 0;
}