/* NavBar, HomePage, NotFoundPage, and CSS classes */

:root {
  --navBarHeight: 8vh;
  --paddingLeft: 10px;
  --yellow: #fbd914;
  --blue: #0058ab;
  --btnHeight: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

#app {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

.pageContent {
  margin-top: var(--navBarHeight);
  padding-left: var(--paddingLeft);
}