:root {
  --navBarHeight: 8vh;
  --paddingLeft: 10px;
  --yellow: #fbd914;
  --blue: #0058ab;
  --btnHeight: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

#app {
  display: grid;
  grid-template-rows: 1fr;
  min-height: 100vh;
}

#navBar {
  background-color: black;
  color: white;
  padding-left: var(--paddingLeft);
  position: fixed;
  height: var(--navBarHeight);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  font-size: 2rem;
}

#navBarWrapper {
  width: 30%;
  height: var(--navBarHeight);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.pageContent {
  margin-top: var(--navBarHeight);
  padding-left: var(--paddingLeft);
}

#title {
  color: var(--blue);
  background-color: var(--yellow);
  border: solid 5px var(--blue);
  font-weight: bold;
}

.navBarLink {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.navBarLink:hover {
  color: black;
  background-color: white;
}

#homePage {
  background-image: url('../assets/bg.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;

  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-columns: min-content;
  white-space: nowrap;
}

#slogan {
  font-size: 2.5rem;
  font-style: oblique;
  background-color: white;
  padding: 5px;
}

#shopBtn {
  width: calc(var(--btnHeight)*3);
  height: var(--btnHeight);

  border: none;
  background-color: black;
  color: white;
  font-size: 1rem;
}

#shopBtnLink {
  justify-self: center;
}

#shopBtn:hover {
  color: black;
}