#navBar {
  background-color: black;
  color: white;
  box-shadow: 0 0 10px black;

  position: fixed;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;

  min-width: 100vw;
  height: var(--navBarHeight);
  white-space: nowrap;
  z-index: 1;
}

#navBarWrapper {
  width: min(600px, 50vw);
  height: var(--navBarHeight);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

#iconWrapper {
  background-color: var(--blue);
  display: flex;
  align-items: center;
}

#icon {
  color: var(--blue);
  background-color: var(--yellow);
  font-weight: bold;
  border-radius: 50%;
  font-size: 2vw;
  padding: 10px;
}

.navBarLink {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  height: 100%;
}

.navBarLink:hover {
  color: black;
  background-color: white;
}

.navBarLink:hover #cartIcon {
  filter: none;
}

#cartIcon {
  width: 3vw;
  height: 3vw;
  filter: invert(100%);
  margin-right: 5px;
  /* white */
}