#shopPage {
  display: grid;
  grid-template-rows: min-content min-content;
}

#itemContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--itemMinWidth), 1fr));
  grid-template-rows: repeat(auto-fit, minmax(var(--itemMinWidth), 1fr));
  row-gap: 50px;
}

.itemCard {
  display: grid;
  grid-auto-rows: min-content;
  justify-content: center;
  text-align: center;
  height: fit-content;
}

.itemCard:hover {
  box-shadow: 0 0 10px black;
}

.productName {
  text-decoration: none;
  margin-bottom: 0;
}

.productPrice {
  margin: 0;
}

.itemCard.outOfStock>* {
  opacity: 0.5;
}

.itemImg {
  width: var(--itemMinWidth);
  height: var(--itemMinWidth);
  z-index: -1;
}